<body style="background-color:grey;">
<h1>Welcome To Tree Project Manager</h1>
<img src="https://www.pictorem.com/collection/900_fabartdesigns_palm%20trees,%20sky,%20palms,%20background,%20summer,%20tropical,%20nature,%20holidays,%20travel,%20paradise,%20outdoors,.jpg" alt="Palm Tree">
<p>
(Insert clever description here)
</p>
<br/>
<button>
<a href="/users">
User Login
</a>
</button>

<button>
<a href="/users/new">
Create New User
</a>
</button>
<br/>
<button>
<a href="/trees">
All Available Trees
</a>
</button>

</body>